# dependencies
**/node_modules
**/.pnpm-store

# production
# **/dist           <--- закомментировано или удалено
**/build

# local env files
**/.env
**/.env.local
**/.env.*.local

# vercel
**.vercel
**/.vercel

# IDE
.vscode/
*.swp
*.swo
*~
.DS_Store